@model OrnekSite.Models.ShoppingCartVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">

    @if (Model.ListCart.Count()>0)
    {
        <div class="container">
        <div class="row">
            <div class="col-md-12">

                <br />

                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>Başlık</th>
                            <th>Adet</th>
                            <th>Birim Fiyat</th>
                            <th>Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListCart)
                        {
                            <tr>
                                <td>
                                    <img src="@item.Product.Image" width="60">
                                </td>
                                <td>@item.Product.Title</td>
                                <td>
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">

      <input type="text" style="max-width:45px;" class="form-control" value="@item.Count">

    <button asp-action="Decrease" asp-route-cartId="@item.Id" class="btn btn-danger"><i class="bi bi-dash-lg"></i></button>
    <button asp-action="Add" asp-route-cartId="@item.Id" class="btn btn-primary"><i class="bi bi-plus-lg"></i></button>
    <button asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i></button>
    
  </div>
</div>
                                </td>
                                <td>@item.Product.Price.ToString("0.00") ₺</td>
                                <td>
                                    @((item.Count * item.Product.Price).ToString("0.00")) ₺
                                </td>

                            </tr>
                        }

                        <tr>
                            <td colspan="4" style="text-align:right">
                                <strong>Toplam Tutar: </strong>
                            </td>
                            <td style="background-color:darkblue">
                                <span style="font-size:large;color:white">@Model.OrderHeader.OrderTotal.ToString("0.00") ₺</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-4">

                        @* E-Mail Doğrulaması olmayan kullanıcılara Alışverişe devam butonu gösterilmedi(isteğe bağlı) *@
                        
                            @*@if (!Model.OrderHeader.ApplicationUser.EmailConfirmed)
                            {
                                <div>
                                    <button type="submit" class="btn btn-warning form-control text-white">lütfen Email Onaylamak için tıklayınız</button>
                                </div>

                            }

                            else
                            {
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index"class="btn btn-primary form-control" >Alış verişe devam et</a>
                            }*@

                        @* E-Mail Doğrulaması olmayan kullanıcılara Alışverişe devam butonu gösterilmedi(isteğe bağlı) bitti *@

                        @*<a asp-area="Customer" asp-controller="Home" asp-action="Index"class="btn btn-primary form-control" >Alış verişe devam et</a>*@

                    </div>

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Summary"class="btn btn-success form-control" >Sipariş Ver</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    }

    else
    {
        <div>
            Sepetinizde ürün yoktur
        </div>
    }
    
</form>

@section Scripts{
    <script type="text/javascript">

        //jquery data table.js için tanımlandı
        $(document).ready(function() {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}

